GridJaasLoginContext {
    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
    userProvider="ldap://192.168.56.2:389/CN=Users,DC=example,DC=com"
    authIdentity="{USERNAME}@EXAMPLE.COM"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=superuser,CN=Users,DC=example,DC=com))"
    useSSL=false
    authzIdentity="superuser";

    com.sun.security.auth.module.LdapLoginModule SUFFICIENT
    userProvider="ldap://192.168.56.2:389/CN=Users,DC=example,DC=com"
    authIdentity="{USERNAME}@EXAMPLE.COM"
    userFilter="(&(sAMAccountName={USERNAME})(memberOf=CN=client,CN=Users,DC=example,DC=com))"
    useSSL=false
    authzIdentity="client";
};